{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--나눔고딕-->
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>
<style>
    body{
        font-family: 'NanumSquare', sans-serif;
        margin:0px;
        padding:0px;
        width:100%;
        height:100vh;
        background : no-repeat center/63vh url('/static/allergykitmain/img/menubackground.png');
    }
</style>
<body>
<div class="container-fluid" style="width:100%;">
    <div class="row">
        <div id="people_img" style="width:100%;">
            <img src="{% static 'allergykitmain/img/people_new.png' %}" style="width:20%; margin-left:40%; padding-top:6%;">
        </div>
        <div id="user_name" style="font-size:2vh; text-align:center; width:100%; color:#FFFFFF;">
            {{user_info.al_Name}}님
        </div>
        <div id="menu_choice_comment" style="font-size:2.5vh; text-align:center; width:100%; color:#FFFFFF; padding-top:1vh;">
            메뉴를 선택해주세요
        </div>
        <div id="sheet_count" style="width:100%; text-align:center; font-size:3vh; padding-top:10vh;">
            10P
        </div>
        <div id="sheet_paper_btn" style="width:100%;">
            <a href="{% url 'allergykitmain:take_pic' %}"><img src="{% static 'allergykitmain/img/sheet_paper.png' %}" style="height:35vh; margin-left:38%; padding-top:2vh;"></a>
        </div>
        <div id="logo_div" style="width:100%;">
            <img src="{% static 'allergykitmain/img/logo.png' %}" style="height:10vh; margin-left:39%; margin-top:17vh;">
        </div>
    </div>
</div>
</body>

